<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{components/layout}">
<head>首页</head>
<body>
    <div layout:fragment="header">Header</div>
    <div layout:fragment="contents">
        <P>contents</P>
        <div id="hello-text"></div>
        <input type="text" class="datepicker"/>
        <script>
            $(function() {
                $('#hello-text').text('Hello SpringBoot from JQuery!!');
                $('.datepicker').datepicker();
            });
        </script>
    </div>
</body>
</html>